:root.theme-dark {
  --accent-color: #ff0070;
  --bg-color: #000028;
  --h1-color: #DB00FF;
  --text-color: #F1B2CE;
  --bg-image: url(/images/cover-image-dark.png);
  --text-family: 'IBM Plex Mono', monospace;
}

.theme-dark .page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  color: var(--text-color);
}

.theme-dark .header__rec::after {
  background: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.theme-dark .decorated-zone::before,
.theme-dark .decorated-zone::after {
  border-color: var(--accent-color);
}

.theme-dark .header__title,
.theme-dark .footer__title {
  color: var(--h1-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.theme-dark .section-title {
  color: var(--accent-color);
}

.theme-dark .card-title--highlight {
  color: var(--bg-color);
  background: var(--accent-color);
}

.theme-dark .link-decor {
  text-shadow: 1px 1px var(--accent-color);
  color: var(--accent-color);
}

.theme-dark .link-decor:focus {
  border: 1px solid var(--text-color);
}